repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: end-of-file-fixer
    - id: check-merge-conflict
    - id: trailing-whitespace

  - repo: https://gitee.com/mirrors/black
    rev: 19.3b0
    hooks:
    - id: black
      args:
        - --line-length=120

  - repo: https://gitee.com/mirrors_PyCQA/flake8.git
    rev: 3.8.4
    hooks:
    - id: flake8
      args:
      - --max-line-length=120
      - --extend-ignore=E1,E203,E722,E402,F401,F403,F405
      exclude: ^.*test/
      additional_dependencies:
        - "pep8-naming"
