case:
    linux:
          train:
          -
            name: multi
            cmd : python -m paddle.distributed.launch tools/train.py
            params:
              - -c configs/det/det_mv3_db.yml
              - -o Global.eval_batch_step=[0,16]
            result:
              loss:
                base: 1
                threshold: 0
                evaluation: "="
              hmean:
                base: 1
                threshold: 0
                evaluation: "="
          -
            name: single
            cmd : python tools/train.py
            params:
              - -c configs/det/det_mv3_db.yml
              - -o Global.eval_batch_step=[0,16]
            result:
              loss:
                base: 1
                threshold: 0
                evaluation: "="
              hmean:
                base: 1
                threshold: 0
                evaluation: "="
