sentencepiece
jieba
colorlog
colorama
seqeval
regex
tqdm
attrdict==2.0.1
PyYAML==5.4.1
subword_nmt==0.3.7
visualdl
pandas
pyrouge
nltk
beautifulsoup4
pybind11
lac
zstandard
pypinyin
pycryptodome
bce-python-sdk
packaging