# all不需要固定随机量
case:
  linux_convergence:
    base: ./base/ImageNet_base_dy2st.yaml
    train:
      -
        name: dy
      -
        name: dy2st
        cmd: python tools/train.py -c ppcls/configs/CAE/cae_base_patch16_224_finetune.yaml
        params:
          - -o Global.epochs=5
          - -o Global.to_static=True
          - -o Optimizer.lr.learning_rate=0.001
          - -o DataLoader.Train.sampler.batch_size=128
          - -o Global.output_dir=output/CAE_dy2st
          - -o DataLoader.Train.dataset.cls_label_path=dataset/ILSVRC2012/partial_shuf_train_list.txt
          - -o DataLoader.Eval.dataset.cls_label_path=dataset/ILSVRC2012/partial_shuf_val_list.txt
          - -o AMP.scale_loss=128
          - -o AMP.use_dynamic_loss_scaling=True
          - -o AMP.level=O2
        result:
          loss:
            base: 1.5
            threshold: 1
            evaluation: "-"
      -
        name: dy2st_cinn
        cmd: python tools/train.py -c ppcls/configs/CAE/cae_base_patch16_224_finetune.yaml
        params:
          - -o Global.epochs=5
          - -o Global.to_static=True
          - -o Optimizer.lr.learning_rate=0.001
          - -o DataLoader.Train.sampler.batch_size=128
          - -o Global.output_dir=output/CAE_dy2st_cinn
          - -o DataLoader.Train.dataset.cls_label_path=dataset/ILSVRC2012/partial_shuf_train_list.txt
          - -o DataLoader.Eval.dataset.cls_label_path=dataset/ILSVRC2012/partial_shuf_val_list.txt
          - -o AMP.scale_loss=128
          - -o AMP.use_dynamic_loss_scaling=True
          - -o AMP.level=O2
        result:
          loss:
            base: 1.5
            threshold: 1
            evaluation: "-"
      -
        name: dy2st_prim
        cmd: python tools/train.py -c ppcls/configs/CAE/cae_base_patch16_224_finetune.yaml
        params:
          - -o Global.epochs=5
          - -o Global.to_static=True
          - -o Optimizer.lr.learning_rate=0.001
          - -o DataLoader.Train.sampler.batch_size=128
          - -o Global.output_dir=output/CAE_dy2st_prim
          - -o DataLoader.Train.dataset.cls_label_path=dataset/ILSVRC2012/partial_shuf_train_list.txt
          - -o DataLoader.Eval.dataset.cls_label_path=dataset/ILSVRC2012/partial_shuf_val_list.txt
          - -o AMP.scale_loss=128
          - -o AMP.use_dynamic_loss_scaling=True
          - -o AMP.level=O2
        result:
          loss:
            base: 1.5
            threshold: 1
            evaluation: "-"
      -
        name: dy2st_prim_cinn
        cmd: python tools/train.py -c ppcls/configs/CAE/cae_base_patch16_224_finetune.yaml
        params:
          - -o Global.epochs=5
          - -o Global.to_static=True
          - -o Optimizer.lr.learning_rate=0.001
          - -o DataLoader.Train.sampler.batch_size=128
          - -o Global.output_dir=output/CAE_dy2st_prim_cinn
          - -o DataLoader.Train.dataset.cls_label_path=dataset/ILSVRC2012/partial_shuf_train_list.txt
          - -o DataLoader.Eval.dataset.cls_label_path=dataset/ILSVRC2012/partial_shuf_val_list.txt
          - -o AMP.scale_loss=128
          - -o AMP.use_dynamic_loss_scaling=True
          - -o AMP.level=O2
        result:
          loss:
            base: 1.5
            threshold: 1
            evaluation: "-"

function: paddlelas_imagenet_parse
