case:
  linux:
    train:
      -
        name: dygraph
        path: models/rank/autofis/
        cmd: python trainer.py
        params:
          - -m config.yaml
          - -o runner.use_gpu=True
      - name: dygraph
        path: models/rank/autofis/
        cmd: python trainer.py
        params:
          - -m config.yaml
          - -o stage=1
          - -o runner.use_gpu=True

    infer:
      -
        name: dygraph
        path: models/rank/autofis/
        cmd: python -u ../../../tools/infer.py
        params:
          - -m config.yaml
          - -o stage=1
          - -o runner.use_gpu=True

  mac:
    train:
      -
        name: dygraph
        path: models/rank/autofis/
        cmd: python trainer.py
        params:
          - -m config.yaml
      - name: dygraph
        path: models/rank/autofis/
        cmd: python trainer.py
        params:
          - -m config.yaml
          - -o stage=1

    infer:
      -
        name: dygraph
        path: models/rank/autofis/
        cmd: python -u ../../../tools/infer.py
        params:
          - -m config.yaml
          - -o stage=1

  windows:
    train:
      -
        name: dygraph
        path: models/rank/autofis/
        cmd: python trainer.py
        params:
          - -m config.yaml
          - -o runner.use_gpu=True
      - name: dygraph
        path: models/rank/autofis/
        cmd: python trainer.py
        params:
          - -m config.yaml
          - -o stage=1
          - -o runner.use_gpu=True

    infer:
      -
        name: dygraph
        path: models/rank/autofis/
        cmd: python -u ../../../tools/infer.py
        params:
          - -m config.yaml
          - -o stage=1
          - -o runner.use_gpu=True
