case:
  linux:
    base: ./base/train_infer_with_gpu_base.yaml
    train:
      -
        name: dygraph
        cmd: python -u tools/trainer.py
      -
        name: static
        cmd: python -u tools/static_trainer.py

    infer:
      -
        name: dygraph
        cmd: python -u models/recall/word2vec/infer.py
      -
        name: static
        cmd: python -u models/recall/word2vec/static_infer.py

  mac:
    base: ./base/train_infer_with_cpu_base.yaml
    train:
      -
        name: dygraph
        cmd: python -u tools/trainer.py
      -
        name: static
        cmd: python -u tools/static_trainer.py

    infer:
      -
        name: dygraph
        cmd: python -u models/recall/word2vec/infer.py
      -
        name: static
        cmd: python -u models/recall/word2vec/static_infer.py

  windows:
    base: ./base/train_infer_with_gpu_base.yaml
    train:
      -
        name: dygraph
        cmd: python -u tools/trainer.py
      -
        name: static
        cmd: python -u tools/static_trainer.py

    infer:
      -
        name: dygraph
        cmd: python -u models/recall/word2vec/infer.py
      -
        name: static
        cmd: python -u models/recall/word2vec/static_infer.py
