case:
  linux:
    train:
      -
        name: single
        path: example/auto_compression/nlp/
        cmd: python run.py
        params:
          - --config_path="./configs/pp-minilm/auto/afqmc.yaml"
          - --save_dir="./save_afqmc_pp_minilm_pruned"

    eval:
      -
        name: single
        path: example/auto_compression/nlp/
        cmd: python run.py
        params:
          - --config_path="./configs/pp-minilm/auto/afqmc.yaml"
          - --eval True
