case:
  linux:
    train:
      -
        name: single
        path: example/auto_compression/image_classification/
        cmd: python run.py
        params:
          - --config_path="./configs/MobileNetV1/qat_dis.yaml"
          - --save_dir="./clas_demo_MobileNetV1_single_card"
          - --devices="gpu"

      -
        name: multi
        path: example/auto_compression/image_classification/
        cmd: python -m paddle.distributed.launch run.py
        params:
          - --config_path="./configs/MobileNetV1/qat_dis.yaml"
          - --save_dir="./clas_demo_MobileNetV1_single_card"
          - --devices="gpu"

  windows:
    train:
      -
        name: single
        path: example/auto_compression/image_classification/
        cmd: python run.py
        params:
          - --config_path="./configs/MobileNetV1/qat_dis.yaml"
          - --save_dir="./clas_demo_MobileNetV1_single_card"
          - --devices="gpu"

  mac:
    train:
      -
        name: single
        path: example/auto_compression/image_classification/
        cmd: python run.py
        params:
          - --config_path="./configs/MobileNetV1/qat_dis.yaml"
          - --save_dir="./clas_demo_MobileNetV1_single_card"
          - --devices="cpu"
