case:
  linux:
    train:
      -
        name: single
        path: example/auto_compression/semantic_segmentation/
        cmd: python run.py
        params:
          - --config_path="configs/pp_liteseg/pp_liteseg_sparse.yaml"
          - --save_dir="./save_pp_lite_seg_model_sparse_single_card"
          - --devices="gpu"

      -
        name: multi
        path: example/auto_compression/semantic_segmentation/
        cmd: python -m paddle.distributed.launch run.py
        params:
          - --config_path="configs/pp_liteseg/pp_liteseg_sparse.yaml"
          - --save_dir="./save_pp_lite_seg_model_sparse_multi_card"
          - --devices="gpu"
