case:
  linux:
    base: ./base/base.yaml
    train:
      -
        name: multi
        cmd: python -m paddle.distributed.launch tools/main.py
        result:
          ${kpi_value_eval}:
            base: 99999999
            threshold: 100
            evaluation: "-"
      -
        name: single
        cmd: python tools/main.py
        result:
          ${kpi_value_eval}:
            base: 99999999
            threshold: 100
            evaluation: "-"
    eval: skipped

  windows:
    base: ./base/base.yaml
    eval: skipped

  windows_cpu:
    base: ./base/base.yaml
    eval: skipped

  mac:
    base: ./base/base.yaml
    eval: skipped
