case:
  linux:
    base: ./base/normal_base.yml
    train:
      -
        name: multi
        cmd : python -m paddle.distributed.launch tools/train.py
        result:
          loss:
            base: 2.77
            threshold: 0.5
            evaluation: "-"
      -
        name: single
        cmd : python tools/train.py
        result:
          loss:
            base: 2.73
            threshold: 0.5
            evaluation: "-"
      -
        name: single_amp
      -
        name: single_dy2st
      -
        name: multi_amp
      -
        name: multi_dy2st
    eval: skipped
    infer: skipped
    export: skipped
    predict: skipped
    api: skipped
  windows:
    base: ./base/normal_base.yml
    train:
      -
        name: single
        cmd : python tools/train.py
    eval: skipped
    infer: skipped
    export: skipped
    predict: skipped
  mac:
    base: ./base/normal_base.yml
    train:
      -
        name: single
        cmd : python tools/train.py
    eval: skipped
    infer: skipped
    export: skipped
    predict: skipped
