case:
  linux:
    base: ./base/normal_base.yml
    train:
      -
        name: multi
        cmd : python -m paddle.distributed.launch tools/train.py
      -
        name: single
        cmd : python tools/train.py
      -
        name: amp_multi
      -
        name: static_multi
    eval: skipped
    infer: skipped
    export: skipped
    predict: skipped
    api: skipped
  windows:
    base: ./base/normal_base.yml
    train:
      -
        name: single
        cmd : python tools/train.py
    eval: skipped
    infer: skipped
    export: skipped
    predict: skipped
  mac:
    base: ./base/normal_base.yml
    train:
      -
        name: single
        cmd : python tools/train.py
    eval: skipped
    infer: skipped
    export: skipped
    predict: skipped


function: paddlelas_imagenet_parse
