numpy
regex
nltk==3.5
xlrd==1.2.0
pybind11
tool_helpers
editdistance
h5py
attrdict==2.0.1
parl
subword_nmt==0.3.7
pyrouge
beautifulsoup4
zstandard
pypinyin
pycryptodome
packaging
psutil
pynvml
GPUtil
yacs
rouge
paddleocr
easydict
rouge_score
evaluate==0.2.2
sacremoses
pythainlp
kytea
lac
fast-tokenizer-python
fastdeploy-gpu-python -f https://www.paddlepaddle.org.cn/whl/fastdeploy.html
