opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
numpy
regex
nltk==3.5
xlrd==1.2.0
visualdl
pybind11
editdistance
h5py
attrdict==2.0.1
parl
subword_nmt==0.3.7
pyrouge
beautifulsoup4
zstandard
pypinyin
pycryptodome
packaging
psutil
pynvml
GPUtil
yacs
rouge
paddleocr
easydict
rouge_score
evaluate==0.2.2
lac
