nltk
xlrd==1.2.0
visualdl
paddleslim
pybind11
tool_helpers
editdistance
paddleocr
h5py
lac
regex
attrdict==2.0.1
PyYAML==5.4.1
subword_nmt==0.3.7
pyrouge
beautifulsoup4
zstandard
pypinyin
pycryptodome
packaging
psutil
pynvml
GPUtil
yacs
editdistance>=0.6.0