opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
numpy>=1.18.5,<1.24.0
regex
nltk
xlrd==1.2.0
visualdl
pybind11
editdistance
h5py
attrdict==2.0.1
subword_nmt==0.3.7
pyrouge
beautifulsoup4
zstandard
pypinyin
pycryptodome
packaging
psutil
pynvml
GPUtil
yacs
rouge
paddleocr
easydict
pgl==2.2.4
parl
lac
