prettytable
ujson
pillow
tqdm
PyYAML
scipy
scikit-learn==0.23.2
gast==0.3.3

typeguard ; python_version >= '3.4'
visualdl>=2.1.0
opencv-python
shapely
terminaltables
pycocotools
setuptools>=42.0.0

pre-commit
yapf == 0.26.0
flake8
pyyaml >= 5.1
filelock

scikit-image==0.17.2
imgaug==0.4.0
pyclipper
lmdb
python-Levenshtein
opencv-contrib-python==4.2.0.32
