numpy>=1.14.5
multiprocess
sentencepiece==0.1.95
datasets==2.2.0
xlrd==1.2.0
regex
jieba
colorlog
colorama
seqeval
attrdict
pyyaml
h5py
pandas
sentencepiece
termcolor
gensim
nltk==3.5
easydict
sklearn
paddleslim
visualdl
pyrouge
chardet
tqdm
beautifulsoup4
bs4
pypinyin
yacs
pgl >= 2.1
