numpy>=1.14.5
sentencepiece==0.1.95
regex
jieba
colorlog
colorama
seqeval
attrdict
pyyaml
h5py
pandas
sentencepiece
termcolor
gensim
tqdm
nltk==3.5
easydict
multiprocess
sklearn
paddleslim
visualdl
pyrouge
chardet
tqdm
beautifulsoup4
bs4
pypinyin
yacs
pgl >= 2.1
