numpy
nltk
inflect
librosa
unidecode
numba
tqdm
llvmlite
matplotlib
visualdl==2.2.0
scipy
pandas
sox
soundfile~=0.10
g2p_en
yacs
pypinyin
webrtcvad
g2pM
praatio~=4.1
h5py
timer
jsonlines
pyworld
typeguard
jieba
phkit