MODEL: "bigbird" # 模型名
PRIORITY: P1
GIT:
  addr: $REPO_PaddleNLP
  path: $ROOT_PATH/models_repo
  branch: $BASE_BRANCH

ENV:
  PADDLE_ON_MODEL_CE: $PADDLE_ON_MODEL_CE

VARIABLES:
  model_scripts_path: scripts/bigbird/ #脚本的路径
  model_log_path: log/bigbird/

EXEC:
  exec_cases: [DATA_PROC,TRAIN]
  exec_priority: [p0,p1]
  exec_tag: $EXEC_TAG

#测试套
DATA_PROC:
  -
    priority: p0
    tag: linux_download_data
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash data_proc.sh
  -
    priority: p0
    tag: win_download_data
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: data_proc.bat

  -
    priority: p0
    tag: mac_download_data
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash data_proc.sh

TRAIN: # 训练步骤
  #pretrain
  -
    priority: p0
    tag: linux_dy_gpu1
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash train.sh $XPU 'bigbird-base-uncased' 'single' $SET_CUDA

    kpis: #kpi指标
      loss:
        latest: True
        kpi_base: 10.937229
        threshold: 0.01
        actived: True
        evaluation: "-"
        unit_repr: "s"
    output: $ROOT_PATH/$model_log_path/train_single_$XPU.log

  -
    priority: p1
    tag: linux_dy_gpu2
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash train.sh $XPU 'bigbird-base-uncased' 'multi' $SET_MULTI_CUDA

    kpis: #kpi指标
      loss:
        latest: True
        kpi_base: 10.993358
        threshold: 0.01
        actived: True
        evaluation: "-"
        unit_repr: "s"
    output: $ROOT_PATH/$model_log_path/train_multi_$XPU.log

  -
    priority: p1
    tag: mac_dy_cpu
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash train.sh $XPU 'bigbird-base-uncased' mac

    kpis:
      exit_code:
        latest: True
        kpi_base: 0
        threshold: 0
        actived: True
        evaluation: "-"
        unit_repr: None
    output: $ROOT_PATH/$model_log_path/train_mac_$XPU.log

  -
    priority: p1
    tag: win_dy_gpu1
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: train.bat $XPU $SET_CUDA

    kpis: #kpi指标
      loss:
        latest: True
        kpi_base: 10.926286
        threshold: 0.08
        actived: True
        evaluation: "-"
        unit_repr: "s"
    output: $ROOT_PATH/$model_log_path/train_$XPU.log

FINETUNE:
  -
    priority: p1
    tag: linux_dy_gpu1
    env:
        CUDA_VISIBLE_DEVICES: $SET_CUDA
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash finetune.sh
    kpis:
      loss:
        latest: True
        kpi_base: 0.751391
        threshold: 0.01
        actived: True
        evaluation: "-"
        unit_repr: "s"
    output: $ROOT_PATH/$model_log_path/finetune_gpu.log

  -
    priority: p2 # 会卡死，显存不足
    tag: win_dy_gpu1
    env:
        CUDA_VISIBLE_DEVICES: $SET_CUDA
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: finetune.bat $XPU

    kpis: #kpi指标
      loss:
        latest: True
        kpi_base:  0.751391
        threshold: 0.01
        actived: True
        evaluation: "-"
        unit_repr: "s"
    output: $ROOT_PATH/$model_log_path/finetune_$XPU.log

GLUE:
  -
    priority: p1
    tag: linux_gpu1_SST-2
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: sh run_glue.sh $XPU $SET_CUDA

    kpis: #kpi指标
      loss:
        latest: True
        kpi_base: 0.751391
        threshold: 0.001
        actived: True
        evaluation: "-"
        unit_repr: "s"
    output: $ROOT_PATH/$model_log_path/run_glue_$XPU.log

  -
    priority: p1
    tag: win_gpu1_SST-2
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: run_glue.bat $XPU $SET_CUDA

    kpis: #kpi指标
      loss:
        latest: True
        kpi_base: 0.751391
        threshold: 0.001
        actived: True
        evaluation: "-"
        unit_repr: "s"
    output: $ROOT_PATH/$model_log_path/run_glue_$XPU.log
