MODEL: "ernie-m" # 模型名
PRIORITY: P0
GIT:
  addr: $REPO_PaddleNLP
  path: $ROOT_PATH/models_repo
  branch: $BASE_BRANCH


VARIABLES:
  scripts_path: scripts
  model_log_path: log/ernie-m/

EXEC:
  exec_cases: [DATA_PROC, TRAIN]
  exec_priority: [p0]
  exec_tag: $EXEC_TAG

#测试套
DATA_PROC:
  -
    priority: p0
    tag: linux_download_data
    run:
      -
        path: $ROOT_PATH/$scripts_path
        cmd: bash run_nlp_all_case.sh ernie-m $XPU linux $SET_CUDA $SET_MULTI_CUDA CE

TRAIN: # 训练步骤
  -
    priority: p0
    tag: linux_dy_gpu1

    kpis: #kpi指标
      loss:
        latest: True
        kpi_base: 1.025321
        threshold: 0.08
        actived: True
        evaluation: "-"
        unit_repr: "s"
    output: $ROOT_PATH/$model_log_path/train_single_$XPU.log

  -
    priority: p0
    tag: linux_dy_gpu2

    kpis: #kpi指标
      loss:
        latest: True
        kpi_base: 1.094561
        threshold: 0.08
        actived: True
        evaluation: "-"
        unit_repr: None
    output: $ROOT_PATH/$model_log_path/train_multi_$XPU.log

