MODEL: "minilmv2" # 模型名
PRIORITY: P2
GIT:
  addr: $REPO_PaddleNLP
  path: $ROOT_PATH/models_repo
  branch: $DGU_BRANCH


VARIABLES:
  model_scripts_path: scripts/minilmv2/ #脚本的路径
  model_log_path: log/minilmv2/

EXEC:
  exec_cases: [DATA_PROC, FINETUNE, DISTILL]
  exec_priority: [p0]
  exec_tag: $EXEC_TAG

#测试套
DATA_PROC:
  -
    priority: p0
    tag: linux_download_data
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash data_proc.sh

FINETUNE: # 训练步骤
  -
    priority: p0
    tag: linux_gpu1_AFQMC
    env:
      CUDA_VISIBLE_DEVICES: $SET_CUDA  #取值为None，则不设置
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash finetune.sh $XPU 'single'

    kpis: #kpi指标
      loss:
        latest: True
        kpi_base: 0.7138
        threshold: 0.01
        actived: True
        evaluation: "-"
        unit_repr: "s"
    output: $ROOT_PATH/$model_log_path/finetune_AFQMC_single_$XPU.log
  
  -
    priority: p0
    tag: linux_gpu2_AFQMC
    env:
      CUDA_VISIBLE_DEVICES: $SET_MULTI_CUDA  #取值为None，则不设置
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash finetune.sh $XPU 'multi' AFQMC

    kpis: #kpi指标
      loss:
        latest: True
        kpi_base: 0.7138
        threshold: 0.01
        actived: True
        evaluation: "-"
        unit_repr: "s"
    output: $ROOT_PATH/$model_log_path/finetune_AFQMC_multi_$XPU.log
  
  -
    priority: p0
    tag: win_gpu1_AFQMC
    env:
      CUDA_VISIBLE_DEVICES: $SET_CUDA  #取值为None，则不设置
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: finetune.bat $XPU AFQMC

    kpis: #kpi指标
      loss:
        latest: True
        kpi_base: 0.7138
        threshold: 0.01
        actived: True
        evaluation: "-"
        unit_repr: None
    output: $ROOT_PATH/$model_log_path/finetune_AFQMC_$XPU.log
