MODEL: "waybill_ie" # 模型名
PRIORITY: P0_2
GIT:
  addr: $REPO_PaddleNLP
  path: $ROOT_PATH/models_repo
  branch: $BASE_BRANCH


VARIABLES:
  model_scripts_path: scripts/waybill_ie/ #脚本的路径
  model_log_path: log/waybill_ie/

EXEC:
  exec_cases: [DATA_PROC, TRAIN, PYTHON_INFER]
  exec_priority: [p0,p1]
  exec_tag: $EXEC_TAG

#测试套
DATA_PROC:
  -
    priority: p0
    tag: linux_download_data
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash data_proc.sh
  -
    priority: p0
    tag: win_download_data
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd:  data_proc.bat

TRAIN: # 训练步骤
  -
    priority: p0
    tag: linux_gpu1_ernie
    env: #去掉，自动调度
      CUDA_VISIBLE_DEVICES: $SET_CUDA  #取值为None，则不设置

    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash train.sh gpu ernie

    kpis: #kpi指标
      Precision:
        latest: True
        kpi_base: 0.97417
        threshold: 0.01
        actived: True
        evaluation: "+"
        unit_repr: "s"
      Recall:
        latest: True
        kpi_base: 0.98318
        threshold: 0.01
        actived: True
        evaluation: "+"
        unit_repr: "s"
      F1:
        latest: True
        kpi_base: 0.97865
        threshold: 0.01
        actived: True
        evaluation: "+"
        unit_repr: "s"
    output: $ROOT_PATH/$model_log_path/train_gpu_ernie.log

  -
    priority: p0
    tag: linux_gpu1_bigru_crf
    env: #去掉，自动调度
      CUDA_VISIBLE_DEVICES: $SET_CUDA  #取值为None，则不设置

    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash train.sh gpu bigru_crf

    kpis: #kpi指标
      Precision:
        latest: True
        kpi_base: 0.87076
        threshold: 0.05
        actived: True
        evaluation: "+"
        unit_repr: "s"
      Recall:
        latest: True
        kpi_base: 0.89487
        threshold: 0.05
        actived: True
        evaluation: "+"
        unit_repr: "s"
      F1:
        latest: True
        kpi_base: 0.88834
        threshold: 0.05
        actived: True
        evaluation: "+"
        unit_repr: "s"
    output: $ROOT_PATH/$model_log_path/train_gpu_bigru_crf.log

  -
    priority: p0
    tag: linux_gpu1_ernie_crf
    env: #去掉，自动调度
      CUDA_VISIBLE_DEVICES: $SET_CUDA  #取值为None，则不设置

    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash train.sh gpu ernie_crf

    kpis: #kpi指标
      Precision:
        latest: True
        kpi_base: 0.885808
        threshold: 0.02
        actived: True
        evaluation: "+"
        unit_repr: "s"
      Recall:
        latest: True
        kpi_base: 0.913373
        threshold: 0.025
        actived: True
        evaluation: "+"
        unit_repr: "s"
      F1:
        latest: True
        kpi_base: 0.899379
        threshold: 0.02
        actived: True
        evaluation: "+"
        unit_repr: "s"
    output: $ROOT_PATH/$model_log_path/train_gpu_ernie_crf.log

  -
    priority: p1
    tag: win_dy_gpu1_bigru_crf
    env: #去掉，自动调度
      GLOG_v: 4
      CUDA_VISIBLE_DEVICES: $SET_CUDA  #取值为None，则不设置

    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: train.bat $XPU bigru_crf

    kpis: #kpi指标
      Loss:
        latest: True
        kpi_base: 6.957651
        threshold: 0.08
        actived: True
        evaluation: "-"
        unit_repr: None
      exit_code:
        latest: True
        kpi_base: 0
        threshold: 0
        actived: True
        evaluation: "="
        unit_repr: None
    output: $ROOT_PATH/$model_log_path/train_bigru_crf_$XPU.log

  -
    priority: p1
    tag: win_dy_gpu1_ernie
    env: #去掉，自动调度
      CUDA_VISIBLE_DEVICES: $SET_CUDA  #取值为None，则不设置

    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: train.bat $XPU ernie

    kpis: #kpi指标
      Loss:
        latest: True
        kpi_base: 0.095717
        threshold: 0.08
        actived: True
        evaluation: "-"
        unit_repr: "s"
      exit_code:
        latest: True
        kpi_base: 0
        threshold: 0
        actived: True
        evaluation: "="
        unit_repr: None
    output: $ROOT_PATH/$model_log_path/train_ernie_$XPU.log

  -
    priority: p1
    tag: win_dy_gpu1_ernie_crf
    env: #去掉，自动调度
      CUDA_VISIBLE_DEVICES: $SET_CUDA  #取值为None，则不设置

    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: train.bat $XPU ernie_crf

    kpis: #kpi指标
      Loss:
        latest: True
        kpi_base: 1.031855
        threshold: 0.6
        actived: True
        evaluation: "-"
        unit_repr: "s"
      exit_code:
        latest: True
        kpi_base: 0
        threshold: 0
        actived: True
        evaluation: "="
        unit_repr: None
    output: $ROOT_PATH/$model_log_path/train_ernie_crf_$XPU.log

PYTHON_INFER:
  -
    priority: p0
    tag: linux_gpu1_ernie
    env:
      CUDA_VISIBLE_DEVICES: $SET_CUDA  #取值为None，则不设置
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash python_infer.sh $XPU ernie

    kpis: #kpi指标
      exit_code:
        latest: True
        kpi_base: 0
        threshold: 0
        actived: True
        evaluation: "="
        unit_repr: None
    output: $ROOT_PATH/$model_log_path/python_infer_ernie_$XPU.log

  -
    priority: p0
    tag: linux_gpu1_ernie_crf
    env:
      CUDA_VISIBLE_DEVICES: $SET_CUDA  #取值为None，则不设置
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash python_infer.sh $XPU ernie_crf

    kpis: #kpi指标
      exit_code:
        latest: True
        kpi_base: 0
        threshold: 0
        actived: True
        evaluation: "="
        unit_repr: None
    output: $ROOT_PATH/$model_log_path/python_infer_ernie_crf_$XPU.log

  -
    priority: p0
    tag: linux_gpu1_bigru_crf
    env:
      CUDA_VISIBLE_DEVICES: $SET_CUDA  #取值为None，则不设置
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: bash python_infer.sh $XPU bigru_crf

    kpis: #kpi指标
      exit_code:
        latest: True
        kpi_base: 0
        threshold: 0
        actived: True
        evaluation: "="
        unit_repr: None
    output: $ROOT_PATH/$model_log_path/python_infer_bigru_crf_$XPU.log

  -
    priority: p1
    tag: win_dy_gpu1
    env:
      CUDA_VISIBLE_DEVICES: $SET_CUDA  #取值为None，则不设置
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: python_infer.bat $XPU ernie

    kpis: #kpi指标
      exit_code:
        latest: True
        kpi_base: 0
        threshold: 0
        actived: True
        evaluation: "="
        unit_repr: None
    output: $ROOT_PATH/$model_log_path/python_infer_ernie_$XPU.log

  -
    priority: p1
    tag: win_dy_gpu1
    env:
      CUDA_VISIBLE_DEVICES: $SET_CUDA  #取值为None，则不设置
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: python_infer.bat $XPU ernie_crf

    kpis: #kpi指标
      exit_code:
        latest: True
        kpi_base: 0
        threshold: 0
        actived: True
        evaluation: "="
        unit_repr: None
    output: $ROOT_PATH/$model_log_path/python_infer_ernie_crf_$XPU.log

  -
    priority: p1
    tag: win_dy_gpu1
    env:
      CUDA_VISIBLE_DEVICES: $SET_CUDA  #取值为None，则不设置
    run:
      -
        path: $ROOT_PATH/$model_scripts_path
        cmd: python_infer.bat $XPU bigru_crf

    kpis: #kpi指标
      exit_code:
        latest: True
        kpi_base: 0
        threshold: 0
        actived: True
        evaluation: "="
        unit_repr: None
    output: $ROOT_PATH/$model_log_path/python_infer_bigru_crf_$XPU.log
